.center {
  margin: auto;
  width: 50%;
  border: 2px solid grey;
  padding: 10px;
}


.body{
  background-color: aquamarine;
}

.input{
  width: 100%;
  padding: 12px;
  margin: 0px;
  box-sizing: border-box;
}

.button{
  background-color: blueviolet;
  border: none;
  padding: 10px;
  margin:10px 0px;
  color: white;
  font-size: medium;

}